@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #3CCCCF, #4BA3A4, #4C797A, #3E4F4F, #2B3333);
    font-family: sans-serif;
    font-size: 20px;
    height: 1080px;

}
main{
    background-color: white;
    width: 700px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #335253aa ;

}
h1{
    color: #3E4F4F;
    text-shadow: 1px 1px 3px #181e1e94;
    text-align: center;
}
h2{
    color: #2B3333;
    text-shadow: 1px 1px 3px #0f121293;
}
p{
    text-align: justify;
}