@charset "UTF-8";

img#perfil{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
}

body{
    background-image: linear-gradient(to bottom, #3C16F5, #1637F5, #167EF5, #16C4F5);
    height: 800px;
    

}
header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #16C4F5;
    background-color: white;
    margin: auto;
    align-items: center;
    border-radius: 20px;
    width: 600px;
    al
}
main, section{
    background-color: white;
    margin: auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 20px;
    width: 800px;
    text-align: justify;
    padding: 15px;


}
